.text-align-center {
	text-align: center;
}


.og-price{
	color:red;
	text-decoration:line-through;
}


.fa-navbar-cart{
	font-size: 18px;
	vertical-align: middle;
}


.container-alert-flash{
	position: absolute;
	top: 10px;
	z-index: 50000;
	width: 100%;
	right: 0%;
	margin: 0px;
	display: none;
}


.text-right
{
    text-align: right !important;
}


.link-detail{
    cursor: hand;
}

.navbar-a-tag{
	height: 59px;
	padding-top: 20px;
}




// 페이지의 높이를 브라우저 높이로 선언
html,body { height: 100%; margin: 0; padding: 0; }

#footer .container{
min-height: 100%;
// relative 선언을 통해 하단바의 absolute position 이 정확한 위치에 오도록 한다.
position: relative;
padding-bottom: 50px;
}

#footer {
// 하단바를 하단에 고정
position: absolute;
bottom: 0;
width: 100%;
height: 110px;
background-color: silver;
}
