{% extends "base.html" %}

{% block style %}

.name{
    font-size: 16px;
}

.name-eng{
    color:red;
}

{% endblock %}

{% block content %}


<h3>{{ object }}</h3>

<div class='row main-contant'>
    <div class='col-xs-6'>
        <h3 class='text-center'>Coffee</h3>
            <table class='table'>
                {% for coffee in coffees %}
                    {% if coffee.on_sale %}
                        <tr>
                            <td><span class="name">{{ coffee.name }}</span> <span class="name-eng">{{ coffee.name_eng}}</span></td>
                            <td class="text-right">￦{{ coffee.price }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
        </table>
        <br/>
    </div>
    <div class="col-xs-6">
        <h3 class='text-center'>Tea</h3>
            <table class='table'>
                {% for tea in teas %}
                    {% if tea.on_sale %}
                        <tr>
                            <td><span class="name">{{ tea.name }}</span> <span class="name-eng">{{ tea.name_eng}}</span></td>
                            <td class="text-right">￦{{ tea.price }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
        </table>
        <h3 class='text-center'>Other</h3>
            <table class='table'>
                {% for other in others %}
                    {% if other.on_sale %}
                        <tr>
                            <td><span class="name">{{ other.name }}</span> <span class="name-eng">{{ other.name_eng}}</span></td>
                            <td class="text-right">￦{{ other.price }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
