{% extends "base.html" %}
{% load crispy_forms_tags %}


<script>
{% block jquery %}
$('#reserve').click(function(){
    if($("#id_phone_regex").val() == ""){
        $("#id_phone_regex").focus();
    }else if($.isNumeric($("#id_phone_regex").val())){
        
    }else {
        alert("휴대폰 번호는 01012345678형식의 숫자로 작성하여야 합니다.")
    };
});
{% endblock %}
</script>



{% block content %}
<div class='row' style="margin-bottom: 30px">
    <h1 class="text-center">{{ title }}</h1>
    <hr/>
    <br/>
    <div class='col-sm-12'>
        <p class="text-center">
            <img class='img-responsive' style="max-height:600px; margin:0 auto;" src="{{ image.image.url }}" />
            <div class= 'col-sm-4 col-sm-offset-4'>
                <form method="POST" action=''>{% csrf_token %}
                    {{ form | crispy }}
                    <p class="text-center">
                        <input id="reserve" class='btn btn-primary btn-lg' type='submit' style="" value='확인' />
                    </p>
                </form>
            </div>
        </p>
    </div>
</div>
{% endblock %}
