{% extends "base.html" %}
{% load staticfiles %}


{% block head_title %}{{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}


.main-text {
	color: black;
}


{% endblock %}
</style>



{% block jumbotron %}

	 <div class="container">
		<div class="row">
			<div class='text-center'>
			<h1 class='main-text'>Realdew Coffee</h1>
			<p class='main-text'>커피를 사랑하는 리얼듀 커피에 오신것을 환영합니다.</p>
			</div>
			</div>
		</div>


{% endblock %}

<!-- fixme 별거는 없지만 그래도 Copyright관련된 Tail작석 필요  -->
