{% extends "base.html" %}
{% load staticfiles %}


{% block head_title %}{{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}


.main-text {
	color: black;
}


{% endblock %}
</style>



{% block jumbotron %}

	 <div class="container">
		<div class="row">
			<div id='img-slide' class='col-sm-12 text-center'>
				<h1 class='main-text'>Realdew Coffee</h1>
				<p>{{ greeting }}</p>
				<div class="slide">
					<button id="img-slide-btn" class="prev" type="button"><img src="{{ left.image.url }}" alt=""/></button>
					<ul>
						{% for image in images %}
							<li><img id="img-slide-img" src="{{ image.image.url }}" alt=""/></li>
						{% endfor %}
					</ul>
					<button id="img-slide-btn" class="next" type="button"><img src="{{ right.image.url }}" alt=""/></button>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

<!-- fixme 별거는 없지만 그래도 Copyright관련된 Tail작석 필요  -->
