   {% load staticfiles %}

   <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}" style="font-size:25px;">리얼듀 커피</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" style="font-size:15px;">
              <li><a href="{% url 'menu_list' %}">Menu</a></li>
              <li><a href="{% url 'location' %}">Location</a></li>
              <li><a href="{% url 'dutch_order' %}">Dutch Order</a></li>
          </ul>


          <ul class="nav navbar-nav navbar-right">
              <!-- fixme add icons for publishing to personal Social Networks -->
              <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:8000/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/home?status=http://localhost:8000/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
          </ul>


        </div><!--/.nav-collapse -->
      </div>
    </nav>
