{% extends "base.html" %}
{% load crispy_forms_tags %}

<script>
{% block jquery %}
$('.time-input').timepicker({
    'timeFormat': 'HH:mm',
    'minTime': '09:00',
    'maxTime': '21:00'
 });
$('.date-input').datepicker({
    'format': 'yyyy-mm-dd',
    'autoclose': true
});
// fixme add ajax for price is changing
{% endblock %}
</script>


{% block content %}
<div class='row'>
    <h1 class="text-center">Dutch Coffee 예약</h1>
    <hr/>
    <br/>
    <div class='col-sm-8'>
        <img class='img-responsive' src="http://localhost:8000/media/images/2017/03/02/dutch.JPG" />
    </div>

    <div class='col-sm-4'>
        <h3 class='text-center'>Dutch Coffee</h3>
        <h4 class='text-right'>￦12,000</h4>
        <form method="POST" action=''>{% csrf_token %}
            {{ form | crispy }}

        <p class="text-right"><input class='btn' type='submit' value='예약' /></p>
        </form>
    </div>
</div>
{% endblock %}
