{% extends "base.html" %}
{% load crispy_forms_tags %}


<script>
{% block jquery %}
$('.time-input').timepicker({
    'timeFormat': 'HH:mm',
    'minTime': '09:00',
    'maxTime': '21:00'
 });
$('.date-input').datepicker({
    'format': 'yyyy-mm-dd',
    'startDate': "+1d",
    'minDate':"dateToday",
    // 'minDate': moment().add('d',1).toDate(),
    'autoclose': true
});
// function numberWithCommas(x) {
//   return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
// };
$('#id_quantity').change(function(){
    var qty = $("#id_quantity").val()
    var total = $("#total").val()
    var data = {
        qty: qty,
        total: total
    }
    console.log(data);
    $.ajax({
        type: "GET", //"POST"
        url: "{% url 'dutch_order' %}",
        data: data,
        success: function(data){
            $("#total").text(data.total);
        },
        error: function(response, error){
			console.log(response);
				// console.log(error)
		}
    })
});

function send_pin() {
    $.ajax({
                url: "{% url 'ajax_send_pin' %}",
                type: "POST",
                data: { phone_num:  $("#id_phone_regex").val() },
            })
            .done(function(data) {
                alert("PIN sent via SMS!");
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                alert(errorThrown + ' : ' + jqXHR.responseText);
            });
}


$('#id_phone_regex').each(function(){
    var defaultval = "010-1234-5678";
    this.value = defaultval;
    $(this).addClass("text-label");


    $(this).focus(function(){
        if(this.value == defaultval){
            this.value = '';
            $(this).removeClass('text-label');
        }
    });
    $(this).blur(function(){
        if(this.value == ''){
            this.value = defaultval;
            $(this).addClass("text-label");
        }
    });
});


$(function() {
    $("#reserve").click(function(){
        if($("#id_phone_regex").val() == "010-1234-5678"){
            $("#id_phone_regex").val("");
        }
        if($("#id_email").val() == "someone@example.com"){
            $("#id_email").val("");
        }
    });
});



{% endblock %}
</script>


{% block content %}
<div class='row' style="margin-bottom: 30px">
    <h1 class="text-center">Dutch Coffee 예약</h1>
    <hr/>
    <br/>
    <div class='col-sm-8'>
        <img class='img-responsive' style="height:600px" src="{{ image.image.url }}" />
    </div>
    <div class='col-sm-4'>
        <h3 class='text-center'>매일 새로 만드는 DutchCoffee</h3>
        <h4 class='text-right'>가격: ￦<span id="total" class="total">{{ total }}</span>,000</h4>
        <form method="POST" action=''>{% csrf_token %}
            {{ form | crispy }}
            <input type="hidden" id="have_verify_phone" name="verify" required>
            <p class="text-right"><button class="btn btn-danger" type="button" onClick="send_pin()"><i class="icon-share"></i> Get PIN</button>
                <input id="reserve" class='btn btn-primary' type='submit' value='예약' />
            </p>
        </form>
    </div>
</div>
{% endblock %}
