{% extends "base.html" %}

{% block style %}

#map img {
	max-width: none;
	height: auto;
	border: 0;
    pendding-left: 60ppx;
}

{% endblock %}


{% block content %}
    <h1 class="read text-center">{{ title }}</h1>
    <div class='row main-content'>
        <div class='col-sm-12'>
            {% include "naver_map.html" %}
        </div>
    </div>
    <div class='col-sm-12 text-center'>
        <br/>
        <p><a href="http://map.naver.com/local/siteview.nhn?code=37755773&_ts=1487514401638"><input type='submit' value="네이버 지도앱에서 보기" class="btn btn-success btn-lg"/></a></p>        {# fixme #}
        <p>주소: {{ address }} // {{ address_short }}</p>
        <p>영업 시간: {{ working_time }}</p>
        <p>전화 번호: {{ phone }}</p>     {# fixme #}


    </div>
{% endblock %}
